<div class="container padded">
  <div class="form-inline">
   <%= simple_form_for [@bike, @booking] do |f| %>
     <%= f.error_notification %>
     <%= f.input :date_in, label: 'date_in', class: "form-control datepick", placeholder: "Select start date", name: "start_date" %>
     <%= f.input :date_out, label: 'date_out', class: "form-control datepick", placeholder: "Select end date", name: "date_end" %>
     </br>
     <%= f.button :submit, label: 'Add booking', class: "btn btn-primary form-control" %>
   <% end %>
  </div>
  <div class="text-center">
    <%= link_to "Back", bike_path(@bike), class: "btn btn-success" %>
  </div>
</div>

