<div class="container-fluid" id="main-wrapper">
  <div class="row">

    <div id="profile" class="hidden-xs hidden-sm col-md-2 text-center">
        <ul class= "list-unstyled">
          <li id="main-avatar"><%= image_tag current_user.picture, class: "avatar-extralarge avatar-square " %></li>
<!--           <li><%= @user.picture %></li> -->
          <li><%= @user.first_name %></li>
          <li><%= @user.last_name %></li>
        </ul>
    </div>

    <div id="content" class="col-md-10"> <!-- content -->

      <div class="tabs">   <!-- TABS -->
        <a class="tab active" data-target="#announces">
          <p>Mes</p>
          <h3>Annonces</h3>
        </a>
        <a class="tab" data-target="#bookings">
          <p>Mes</p>
          <h3>Réservations</h3>
        </a>
      </div>   <!-- end of TABS -->

      <div class="announces-booking"> <!--announces-booking -->
          <div class="container-fluid text-center">
            <div class="tab-content active" id="announces">
                <div class="call-to-action">
                  <%= link_to "Ajouter un vélo",
                  new_user_bike_path(current_user),
                  class: "btn btn-small btn-danger" %>
                </div>
                <% @user.bikes.each do |bike| %>
                  <ul class="list-unstyled">
                    <li class="product">
                      <% bike.photos.each do |photo| %>
                         <%= cl_image_tag photo.path, width: 180, height: 110, crop: :fill, :class => "product-image" %>
                      <% end %>
                      <div class='product-body'>
                      <h3><%= bike.kind %></h3>
                      <p><%= bike.description %></p>
                      </div>
                      <%= link_to edit_user_bike_path(current_user, bike) do %>
                      <i class="fa fa-pencil green"></i>
                      <% end %>
                      </li>
                    <% end %>
                  </ul>
            </div>
            <div class="tab-content hidden" id="bookings">
              <% @user.bookings.each do |booking| %>
                <ul class="list-unstyled product">
                  <li class="user-pic">
                    <% if booking.bike.user.picture.nil? %>
                      <%= image_tag 'http://placehold.it/50x50', class: "avatar-large" %>
                    <% else %>
                      <%= image_tag booking.bike.user.picture, class: "avatar-large" %>
                    <% end %>
                  </li>
                  <li class="product-pic">
                    <% booking.bike.photos.each do |photo| %>
                       <%= cl_image_tag photo.path, width: 180, height: 110, crop: :fill, :class => "product-image" %>
                    <% end %>
                  </li>
                  <li class='product-body'>
                    <h3><%= booking.bike.kind %></h3>
                    <p><%= booking.bike.description %></p>
                    <br>
                    <p><strong>From :</strong> <%= booking.date_in %>  <strong>To :</strong> <%= booking.date_out %></p>
                  </li>
                  <li class="status">
                    <p>Status: <%= booking.status %></p>
                  </li>
                </ul>
              <% end %>
            </div>
          </div>
      </div><!-- end of announces-booking -->

    </div>   <!-- end of content -->

  </div> <!-- end of row -->
</div> <!-- end of main-wrapper -->





