
        <div class="tabs">
          <a class="tab active" data-target="#bio">
            <p>Mon</p>
            <h3>Profile</h3>
          </a>
          <a class="tab" data-target="#announces">
            <p>Mes</p>
            <h3>Annonces</h3>
          </a>
          <a class="tab" data-target="#bookings">
            <p>Mes</p>
            <h3>Réservations</h3>
          </a>
        </div>


    <div class="container text-center">
      <div class="tab-content" id="bio">
        <div class="card-color">
          <h1><%= image_tag current_user.picture %></h1>
          <h3><%= current_user.first_name %></h3>
        </div>
      </div>
      <div class="tab-content hidden" id="announces">

      <div class="product">

        <ul class="list-unstyled">
          <% @user.bikes.each do |bike| %>
            <li>
               <%= bike.description %>
               <%= bike.address %>
               <%= bike.kind %>
               <% bike.photos.each do |photo| %>
                 <%= cl_image_tag photo.path, width: 180, height: 110, crop: :fill %>
               <% end %>
            </li>
            <%= link_to edit_bike_path(bike) do %>
              <i class="fa fa-pencil"></i>
              <% end %>
            <% end %>
        </ul>

        <ul class="list-inline product-controls">
          <i class="fa fa-pencil"></i>
        </ul>
      </div>
      </div>

<!--         <ul class="list-unstyled">
              <% @user.bikes.each do |bike| %>
            <li>
               <%= bike.description %>
               <%= bike.address %>
               <%= bike.kind %>
               <% bike.photos.each do |photo| %>
                 <%= cl_image_tag photo.path, width: 180, height: 110, crop: :fill %>
               <% end %>
            </li>
            <%= link_to edit_bike_path(bike) do %>
              <i class="fa fa-pencil"></i>
            <% end %>
          <% end %>
        </ul> -->
      <div class="tab-content hidden" id="bookings">
        <p>Contact me if you want.</p>
      </div>
    </div>





