<div class="container-fluid" id="main-wrapper">
  <div class="row">
    <div id="profile" class="hidden-xs hidden-sm col-md-2 text-center">
      <ul class= "list-unstyled">
        <li id="main-avatar">
          <% if current_user.picture.nil? %>
            <%= image_tag "http://placehold.it/80x80", class: "avatar-extralarge" %>
          <% else %>
            <%= image_tag current_user.picture, class: "avatar-extralarge " %>
          <% end %>
        </li>
        <li><p><%= @user.first_name %> <%= @user.last_name %></p></li>
        <hr>
        <li><p><%= @user.email %></p></li>
        <hr>
        <li>
          <div class="call-to-action text-center">
            <%= link_to "Ajouter un vélo", new_bike_path(current_user), class: "btn btn-small btn-warning" %>
          </div>
        </li>
      </ul>
    </div>
    <div id="content" class="col-md-10"> <!-- content -->
      <div class="tabs">   <!-- TABS -->
        <a class="tab active" data-target="#announces">
          <p>Mes</p>
          <h3>vélo</h3>
        </a>
        <a class="tab" data-target="#incomings">
          <p>Les demandes</p>
          <h3>que l'on me fait</h3>
        </a>
        <a class="tab" data-target="#outcomings">
          <p>Les demandes</p>
          <h3>que j'ai fais</h3>
        </a>
      </div>   <!-- end of TABS -->
      <div class="announces-booking">
        <div class="container-fluid text-justify">
          <div class="tab-content active" id="announces">
            <% @user.bikes.each do |bike| %>
              <div class="product">
                <% bike.photos.each do |photo| %>
                   <%= cl_image_tag photo.path, width: 180, height: 110, crop: :fill, :class => "product-image" %>
                <% end %>
                <div class='product-body'>
                  <ul class ="list-unstyled list-inline hidden-xs">
                    <li><p><strong>From :</strong> <%= bike.date_in %></p></li>
                    <li><p><strong>To :</strong> <%= bike.date_out %></p></li>
                  </ul>
                  <ul class ="list-unstyled list-inline">
                    <li>Description :</li>
                    <li><%= bike.description %></li>
                  </ul>
                  <ul class ="list-unstyled list-inline">
                    <li>Type de vélo : </li>
                    <li><%= bike.kind %></li>
                  </ul>
                </div>
                <%= link_to edit_bike_path(bike) do %>
                  <h4 class="pencil"><i class="fa fa-pencil "></i></h4>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="tab-content hidden" id="incomings">
            <% @asked_bookings.each do |booking| %>
              <% bike = Bike.find(booking.bike_id) %>
              <div class="product">
                <% bike.photos.each do |photo| %>
                  <%= cl_image_tag photo.path, width: 180, height: 110, crop: :fill, :class => "product-image" %>
                <% end %>
                <div class="user-pic text-center">
                  <p><strong>Owner:</strong></p>
                  <% if current_user.picture.nil? %>
                    <%= image_tag 'http://placehold.it/50x50', class: "avatar-large" %>
                  <% else %>
                    <%= image_tag current_user.picture, class: "avatar-large" %>
                  <% end %>
                </div>
                <div class="product-body">
                  <ul class ="list-unstyled list-inline hidden-xs">
                    <li><p><strong>From :</strong> <%= booking.date_in %></p></li>
                    <li><p><strong>To :</strong> <%= booking.date_out %></p></li>
                  </ul>
                  <ul class ="list-unstyled list-inline hidden-xs">
                    <li>Description : </li>
                    <li><p><%= bike.description %></p></li>
                  </ul>
                  <ul class ="list-unstyled list-inline hidden-xs">
                    <li>Type de vélo : </li>
                    <li><%= bike.kind %></li>
                  </ul>
                </div>
                <div class="status">
                  <% if booking.status == "confirmed" %>
                    <p class="btn btn-primary">Confirmed</p>
                  <% elsif booking.status == "rejected" %>
                    <p class="btn btn-danger">Rejected</p>
                  <% else %>
                    <%= form_for booking do |f| %>
                    <%= f.submit "Confirm", class: "btn btn-success", method: :patch %>
                    <% end %>
                    <%= form_for booking do |f| %>
                    <%= f.submit "Reject", class: "btn btn-danger", method: :patch %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="tab-content hidden" id="outcomings">
            <% @user.bookings.each do |booking| %>
              <div class="product">
                <% booking.bike.photos.each do |photo| %>
                  <%= cl_image_tag photo.path, width: 180, height: 110, crop: :fill, :class => "product-image" %>
                <% end %>
                <div class="user-pic text-center">
                  <p><strong>Owner:</strong></p>
                  <% if booking.bike.user.picture.nil? %>
                    <%= image_tag 'http://placehold.it/50x50', class: "avatar-large" %>
                  <% else %>
                    <%= image_tag booking.bike.user.picture, class: "avatar-large" %>
                  <% end %>
                </div>
                <div class='product-body'>
                  <ul class ="list-unstyled list-inline hidden-xs">
                    <li><p><strong>From :</strong> <%= booking.date_in %></p></li>
                    <li><p><strong>To :</strong> <%= booking.date_out %></p></li>
                  </ul>
                  <ul class ="list-unstyled list-inline hidden-xs">
                    <li>Description : </li>
                    <li><p><%= booking.bike.description %></p></li>
                  </ul>
                  <ul class ="list-unstyled list-inline hidden-xs">
                    <li>Type de vélo : </li>
                    <li><%= booking.bike.kind %></li>
                  </ul>
                </div>
                <div class="status">
                  <% if booking.status == "confirmed" %>
                    <p class="btn btn-primary">Confirmed</p>
                  <% elsif booking.status == "rejected" %>
                    <p class="btn btn-danger">Rejected</p>
                  <% else %>
                    <p class="btn btn-warning">Pending</p>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>   <!-- end of container-fluid -->
      </div><!-- end of announces-booking -->
    </div> <!-- end of content -->
  </div> <!-- end of row -->
</div> <!-- end of main-wrapper -->
