<div class="container-fluid">
  <div class="row">
      <div class="return">
        <%= link_to "retour", :back, :class => 'btn btn-return' %>
      </div>
      <div class="bike col-xs-12 col-sm-6 relative text-center" id = "photo-bike"> <!-- photo and price div-->
      <% @bike.photos.each do |photo| %>
          <% if photo.path.nil? %>
            <img src="http://placehold.it/300x200" alt="">
          <% else %>
              <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill, :class => 'drop-shadow' %>
              <% end %>
          <% end %>
        <div class="absolute price text-center">
          <h4><%= @bike.price %>€</h4>
        </div>
      </div> <!-- end of photo and price div-->

      <div class="booking col-xs-12 col-sm-4 text-center" id="booking-bike"> <!-- booking div-->
        <h5>Ce vélo est disponible du <strong><%= @bike.date_in %></strong> au <strong><%= @bike.date_out %></strong> </h5>
        <h5>Pour quelle période souhaitez-vous le louer ?</h5>
        <div class="form-inline text-center">
          <%= simple_form_for [@bike, @booking] do |f| %>
            <%= f.error_notification %>

            <%= f.input :date_in, as: :string, label: false, input_html: { class: "form-control datepick" }, placeholder: "Pick-up date", name: "start_date" %>



              <%= f.input :date_out, as: :string, label: false, input_html: { class: "form-control datepick" }, placeholder: "Return date", name: "date_end" %>

            <div class="call-to-action">
              <%= f.button :submit, 'Book now', class: "btn btn-large btn-book btn-warning form-control" %>
            </div>
          <% end %>
        </div>
      </div> <!-- end of booking div-->

  </div>
  <div class="row" id="bike-details">
    <div class="about ">
      <h4>À propos de ce vélo :</h4>
    </div>
    <div class="content col-xs-3 col-xs-offset-1 text-justify" id="content-bike">
        <ul class="list-inline">
          <li><p><strong>Type de vélo : </strong></p></li>
          <li><p><%= @bike.kind %></p></li>
          <hr>
        </ul>
        <ul class="list-inline">
          <li><strong>Description : </strong></li>
          <li><p><%= @bike.description %></p></li>
        </ul>
    </div>
    <div class="content col-xs-3 text-justify" id="content-bike">
        <ul class="list-inline">
          <li><strong>Address : </strong></li>
          <li><p><%= @bike.address %></p></li>
          <hr>
          <li><strong>Price : </strong></li>
          <li><p><%= @bike.price %>€</p></li>
        </ul>
    </div>
    <div class="content col-xs-3 text-justify" id="content-bike">
      <ul class="list-inline">
        <li><strong>Siège bébé <i class="fa fa-child"></i>   ? </strong></li>
        <li><p><%= @bike.baby_seat%></p></li>
        <hr>
      </ul>
      <ul class="list-inline">
        <li><strong>Casque <i class="fa fa-heartbeat"></i>   ? </strong></li>
        <li><p><%= @bike.helmet?%></p></li>
      </ul>
    </div>
  </div>

<!--     <div class="booking col-xs-8 text-center colored" id="booking-bike">
      <h4>Ce vélo est disponible du <strong><%= @bike.date_in %></strong> au <strong><%= @bike.date_out %></strong> </h4>
      <h4>Pour quelle période souhaitez-vous le louer ?</h4>
      <div class="form-inline text-center">
        <%= simple_form_for [@bike, @booking] do |f| %>
          <%= f.error_notification %>
          <div class="begin">
          <%= f.input :date_in, as: :string, label: false, input_html: { class: "form-control datepick" }, placeholder: "Pick-up date", name: "start_date" %>
          </div>

          <div class="end">
            <%= f.input :date_out, as: :string, label: false, input_html: { class: "form-control datepick" }, placeholder: "Return date", name: "date_end" %>
          </div>
          <div class="call-to-action">
            <%= f.button :submit, 'Book now', class: "btn btn-primary form-control" %>

          </div>
        <% end %>
      </div>
    </div> -->
  </div>
</div>





